.charts {
    overflow: auto;
    float: left;
    clear: both;
    width: 1200px;
}

.chart {
    float: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.chart span {
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    display: block;
}